@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.blink {
  animation: blink 1s infinite;
}


body {
  background: #507a66;
  background: linear-gradient(90deg, rgba(80, 122, 102, 1) 0%, rgba(120, 95, 100, 1) 35%, rgba(89, 134, 212, 1) 100%);
}